.form {
  background-color: lightgray;
  text-align: center;
  padding-top: 5vh;
  height: calc(100vh - 56px);
}

.row {
  margin: 40px;
}

.btn {
  background-color: black;
  color: rgb(255, 255, 255);
  font-weight: 500;
  width: 30vh;
  margin-bottom: 6vh;
}

.btn:hover {
  background-color:#719fed;
  color: black;
  font-weight: 500;
}

h2 {
  font-size: x-large;
}

input {
  text-align: center;
}

.form-check-input {
  margin-right: 15px;
}

.header {
  margin-top: 2vh;
  margin-bottom: 3vh;
}

p {
  font-weight: 400;
}
