.container {
  margin-top: 4%;
  text-align: center;
}

.title {
  text-align: center;
  margin-top: 2%;
  font-size: 120%;
  color: black;
}

.divFormPersonal {
  background-color: lightgray;
  height: 94.3vh;
}

header {
  background-color: lightgray;
  height: 5vh;
}

.boton {
  background-color: black;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.boton:hover {
  background-color: rgb(111, 133, 205);
  color: rgb(255, 255, 255);
  font-weight: 500;
}
