.container {
  margin-top: 4%;
  text-align: center;
}

.title {
  text-align: center;
  margin-top: 2%;
  font-size: 120%;
  color: black;
}

.divFormPersonal {
  background-color: lightgray;
  height: calc(165vh - 55px);
}

header {
  background-color: lightgray;
  height: 1vh;
}

.btn {
  background-color: black;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.btn:hover {
  background-color: rgb(111, 133, 205);
  color: rgb(255, 255, 255);
  font-weight: 500;
}
