#divForm {
  margin-top: 5%;
}
.form {
  background-color: lightgray;
}

.footerCompany {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15vh;
  text-align: center;
  background-color: #719FED;
  line-height: 1%;
}

.divFormProfileCompany {
  height: calc(100vh - 20px);
}

#row {
  margin-bottom: 8%;
}

#btnCompany {
  margin-top: -2%;
}

.divInputCompany {
  margin-left: 9%;
}

.divInputRadio {
  margin-right: 4.5%;
}

#row3 {
  margin-bottom: 0%;
}

#row44 {
  margin-top: 2.8%;
}

.p-radio {
  margin-bottom: 1%;
}

.col-md-12 {
  margin-top: 7%;
}
