.form {
  background-color: lightgray;
  text-align: center;
  padding-top: 5%;
  height: 103vh;
}

.row {
  margin: 2%;
}

.button-enterprise {
  background-color: black;
  color: rgb(255, 255, 255);
  font-weight: 500;
  margin-top: 5%;
  width: 15%;
}

.button-enterprise:hover {
  background-color: #719fed;
  color: black;
  font-weight: 500;
}

input {
  text-align: center;
}

.form-check-input {
  margin-right: 15px;
}

.header {
  margin-top: 5%;
  margin-bottom: 5%;
}

p {
  font-weight: 400;
}
