/* .titleDependency {
  margin-top: 3%;
  text-align: center;
}

#rowDependency {
  margin: -5%;
}

.labelDependency{
    margin-right: 5%;
    margin-top: -8%;
}

#workingDay{
    margin-right: 30%;
} */
