.form {
  background-color: lightgray;
  text-align: center;
  padding-top: 5vh;
}

.row {
  padding: 3vh;
}

.btn {
  color: white;
  background-color: #719fed;
  border-color: black;
  width: 35vh;
  margin: 5vh;
}

h2 {
  font-size: x-large;
}

input {
  text-align: center;
}

.form-check-input {
  margin-right: 15px;
}

.header {
  margin: 5vh;
}

p {
  font-weight: 400;
}
