.container {
    margin-top: 4%;
    text-align: center;
  }
  
  .title {
    text-align: center;
    margin-top: 2%;
    font-size: 2em;
    color: black;
  }

  .divFormPersonal {
    background-color: lightgray;
    height: 94.3vh;
  }

  header {
    background-color: lightgray;
    height: 5vh;
  }

  .btn {
    background-color: black;
    color: rgb(255, 255, 255);
    font-weight: 500;
  }
  
  .btn:hover {
    background-color: rgb(111, 133, 205);
    color: rgb(255, 255, 255);
    font-weight: 500;
  }
  
  
  .error {
    color: red;
    font-size: 95%;
    font-weight: bold;
  }