#primary {
    margin-top: 9%;
    text-align: center;
  }
  
  .title {
    text-align: center;
    margin-top: 2%;
    font-size: 2em;
    color: black;
  }

  .divFormUniversity {
    background-color: lightgray;
    height: 94.3vh;
  }

  header {
    background-color: lightgray;
    height: 5vh;
  }
  
  #btn {
    background-color: black;
    color: rgb(255, 255, 255);
    margin-top: 3.5%;
    font-weight: 500;
  }
  
  #btn:hover {
    background-color: rgb(111, 133, 205);
    color: rgb(255, 255, 255);
    font-weight: 500;
  }
  